bower_components/
build/
node_modules/
loggers/
.vscode/settings.json
.vscode/launch.json
yarn.lock
package-lock.json
src/nylon-init.html
polymer.json
.DS_Store

src/aqa-frontend-portal
src/aqa-frontend-user
src/aqa-frontend-support
src/aqa-frontend-academy
src/aqa-frontend-basic
src/aqa-frontend-assessor
src/aqa-frontend-register
src/aqa-frontend-report
