<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/aqa-styles/aqa-styles.html">
<link rel="import" href="../../../bower_components/aqa-form/aqa-input.html">
<link rel="import" href="../../../bower_components/aqa-button/aqa-button.html">
<link rel="import" href="../../../bower_components/aqa-form/aqa-combo-box.html">

<link rel="import" href="./aqa-advance-search-item.html">

<dom-module id="aqa-advance-search">
    <template>
        <style include="aqa-styles"></style>
        <div style="margin:0rem 0.5rem 0.5rem 0.5rem">
        <template is="dom-repeat" items="[[itemForm]]">
            <aqa-advance-search-item section-search fields="[[fields]]" on-add-filter="addFilter" on-del-filter="deleteFilter"></aqa-advance-search-item>
        </template>
        </div>
    </template>

    <script>

        class AqaAdvanceSearch extends Polymer.Element {

            static get is() {
                return 'aqa-advance-search';
            }

            static get properties() {
                return {
                    itemForm: {
                        type: Array,
                        value: [{}]
                    },
                    fields: Array,
                    operatorList: {
                        type: Array,
                        value: [
                            {
                                label: 'เท่ากับ'
                            },
                            {
                                label: 'ไม่เท่ากับ'
                            },
                            {
                                label: 'มากกว่า'
                            },
                            {
                                label: 'น้อยกว่า'
                            }
                        ]
                    }
                };
            }

            connectedCallback(){
                super.connectedCallback()
            }

            addFilter() {
                this.push('itemForm', this.itemForm.length)
            }
            deleteFilter(e) {
                var index = this.itemForm.indexOf(e.model.item);
                if (this.itemForm.length > 1) {
                    this.splice('itemForm', index, 1)
                }
            }
        }

        window.customElements.define(AqaAdvanceSearch.is, AqaAdvanceSearch);
    </script>
</dom-module>