<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/aqa-styles/aqa-styles.html">

<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<link rel="import" href="../../../bower_components/aqa-tooltip/aqa-tooltip.html">
<link rel="import" href="../../../bower_components/aqa-form/aqa-combo-box.html">
<link rel="import" href="../../../bower_components/aqa-form/aqa-input.html">

<link rel="import" href="../../redux-mixin.html">
<dom-module id="aqa-pagegination">
    <template>
        <style include="aqa-styles">
            .flex-container {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .input {
                width: 100px;
            }
            [hidden] {
                display: none;
            }
        </style>
        <div class="row" style="padding: 0.5rem 0">
            <div class="col-xs-6">
                <span>จำนวน [[_quantity(items,count,page,limit)]] / [[count]] รายการ</span>
            </div>
            <div class="col-xs-6 flex-container" hidden$="[[paginationDisabled]]">
                <aqa-tooltip label="ก่อนหน้า">
                    <paper-icon-button class="btn-edit" icon="icons:chevron-left" on-click="_previous"></paper-icon-button>
                </aqa-tooltip>
                <aqa-combo-box id="c_page" prop="page" class="input" items="[[list]]" on-value-changed="_comboChanged" value="[[page]]" no-label-float no-reset></aqa-combo-box>
                &nbsp;
                <!-- <aqa-input class="input" no-label-float value="[[limit]]" disabled></aqa-input> -->
                <aqa-combo-box prop="limit" class="input" on-value-changed="_comboChanged" items="[[limitList]]" value="[[limit]]" no-label-float no-reset></aqa-combo-box>
                <aqa-tooltip label="ถัดไป">
                    <paper-icon-button class="btn-edit" icon="icons:chevron-right" on-click="_next"></paper-icon-button>
                </aqa-tooltip>
            </div>
        </div>
    </template>

    <script>

        class AqaPagegination extends ReduxMixin(Polymer.Element) {

            static get is() {
                return 'aqa-pagegination';
            }

            static get properties() {
                return {
                    limit: {
                        type: Number,
                        value: 10
                    },
                    list: {
                        type: Array,
                        value: []
                    },
                    count: {
                        type: Number,
                        value: 0,
                        observer: '_setCount'
                    },
                    items: {
                        type: Array,
                        value: []
                    },
                    page: {
                        type: Number,
                        value: 1
                    },
                    startAs: {
                        type: Number,
                        value:1
                    },
                    limitList: {
                        type: Array,
                        value: function(){
                            return [
                                {
                                    label:10,
                                    value:10
                                },
                                {
                                    label:20,
                                    value:20
                                },
                                {
                                    label:50,
                                    value:50
                                },
                                {
                                    label:100,
                                    value:100
                                }
                            ]
                        }
                    }
                };
            }

            static get observers() {
                return ['_pageOrLimitChanged(page,limit)']
            }

            _setCount() {
                if (this.count) {
                    var round = this.count / this.limit
                    var arr = []
                    if (round === round && round % 1 !== 0) round + 1
                    for (let index = 0; index < round; index++) {
                        arr.push({ label: (index + 1).toString(), value: index+1 })
                    }
                    this.list = arr
                }
            }
            _comboChanged(e) {
                // console.log(e.target.getAttribute("prop"))
                if(e.target.getAttribute("prop")=="limit"){
                    this.$.c_page.value = 1
                }
                this.set(e.target.getAttribute("prop"),e.target.value)
            }

            _pageOrLimitChanged(page,limit) {
                // console.log(page,limit)
                this.startAt = ((page*limit)+1)-limit
                this.dispatchEvent(new CustomEvent('page-change', { detail: { page: page,limit:limit } }));


                this._setCount()
            }

            _quantity(items,count,page,limit){
                if(items.length==0){
                    return 0
                }else{
                    var start = (page*limit)-limit
                    var end = start + items.length
                    return (start+1) + "-" + end
                }

            }

            _previous(){
                if(this.page!=1){
                    this.page = this.page - 1
                }
            }

            _next(){
                if(this.page!=this.list.length){
                    this.page = this.page + 1
                }
            }
        }

        window.customElements.define(AqaPagegination.is, AqaPagegination);
    </script>
</dom-module>